n8n/workflows/Fluxo 1 - Atendimento WhatsApp.json
{
  "name": "Fluxo 1 - Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-atendimento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f7c18f21-a2a1-4d56-966e-acc13397c096",
      "name": "Webhook",
      "webhookId": "d243ccbd-b131-48fc-9ab7-0d11b912ae50"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5079/api/n8n/farmacias/by-whatsapp/{{ $json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "faa215f6-e157-4e55-83f4-a6bbd5d4961b",
      "name": "Identificar Farmácia",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5079/api/n8n/crm/contatos/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"farmaciaId\": \"{{ $('Identificar Farmácia').item.json.id }}\",\n     \"telefone\": \"{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}\",\n     \"nome\": \"{{ $('Webhook').item.json.body.data.pushName }}\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "d505b5ef-ee4b-4923-975f-a0b8daba969a",
      "name": "Upsert Contato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Identificar Farmácia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Farmácia": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0faf28d-d174-4cfb-bf54-946236c9fd86",
  "meta": {
    "instanceId": "0a2780aa64ab71baea2553fcd5762839999421886901a500aca11f39e29bb78d"
  },
  "nodeGroups": [],
  "id": "XqAw8PJFxTnr0qEu",
  "tags": []
}