n8n/workflows/Fluxo 1 - Atendimento WhatsApp.json
{
  "name": "Fluxo 1 - Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-atendimento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f7c18f21-a2a1-4d56-966e-acc13397c096",
      "name": "Webhook",
      "webhookId": "d243ccbd-b131-48fc-9ab7-0d11b912ae50"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5079/api/n8n/farmacias/by-whatsapp/{{ $json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "faa215f6-e157-4e55-83f4-a6bbd5d4961b",
      "name": "Identificar Farmácia",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5079/api/n8n/crm/contatos/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"farmaciaId\": \"{{ $('Identificar Farmácia').item.json.id }}\",\n     \"telefone\": \"{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}\",\n     \"nome\": \"{{ $('Webhook').item.json.body.data.pushName }}\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "d505b5ef-ee4b-4923-975f-a0b8daba969a",
      "name": "Upsert Contato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "horario",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "2",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "horário",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "3",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "funciona",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "4",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "aberto",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "endereco",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "6",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "endereço",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "7",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "localiza",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "8",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "onde fica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "atendente",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "10",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "11",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "pessoa",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "12",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "falar com alguem",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "oi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "14",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "ola",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "15",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "olá",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "16",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "bom dia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "17",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "boa tarde",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "18",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "boa noite",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        -48
      ],
      "id": "ddf442d1-acd7-4e39-b0c4-73a791d7814f",
      "name": "Switch Intenção"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Identificar Farmácia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Farmácia": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato": {
      "main": [
        [
          {
            "node": "Switch Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "71366880-0df5-480a-bca4-a456c9b9d69b",
  "meta": {
    "instanceId": "0a2780aa64ab71baea2553fcd5762839999421886901a500aca11f39e29bb78d"
  },
  "nodeGroups": [],
  "id": "XqAw8PJFxTnr0qEu",
  "tags": []
}