n8n/workflows/Fluxo 1 - Atendimento WhatsApp.json
{
  "name": "Fluxo 1 - Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-atendimento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f7c18f21-a2a1-4d56-966e-acc13397c096",
      "name": "Webhook",
      "webhookId": "d243ccbd-b131-48fc-9ab7-0d11b912ae50"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5079/api/n8n/farmacias/by-whatsapp/{{ $json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "faa215f6-e157-4e55-83f4-a6bbd5d4961b",
      "name": "Identificar Farmácia",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5079/api/n8n/crm/contatos/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"farmaciaId\": \"{{ $('Identificar Farmácia').item.json.id }}\",\n     \"telefone\": \"{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}\",\n     \"nome\": \"{{ $('Webhook').item.json.body.data.pushName }}\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "d505b5ef-ee4b-4923-975f-a0b8daba969a",
      "name": "Upsert Contato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "horario",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "2",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "horário",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "3",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "funciona",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "4",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "aberto",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "endereco",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "6",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "endereço",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "7",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "localiza",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "8",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "onde fica",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "atendente",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "10",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "11",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "pessoa",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "12",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "falar com alguem",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "oi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "14",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "ola",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "15",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "olá",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "16",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "bom dia",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "17",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "boa tarde",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "18",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation.toLowerCase() }}",
                    "rightValue": "boa noite",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        832,
        -48
      ],
      "id": "ddf442d1-acd7-4e39-b0c4-73a791d7814f",
      "name": "Switch Intenção"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f371c100-292a-4cb7-b783-94fb4fbfffc0",
              "name": "mensagemResposta",
              "value": "=Nosso horário de funcionamento: {{ $('Identificar Farmácia').item.json.horarioFuncionamento }}",
              "type": "string"
            },
            {
              "id": "04131cdd-7a71-44ce-a9c2-9e04d1a5eaff",
              "name": "intencao",
              "value": "horario",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -224
      ],
      "id": "9d637236-3f9b-4d51-ad7b-3838fbc17b3b",
      "name": "Resposta Horario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5900147-b3af-48bb-9456-8ee766dcbc1e",
              "name": "mensagemResposta",
              "value": "=Estamos localizados em: {{ $('Identificar Farmácia').item.json.endereco }}",
              "type": "string"
            },
            {
              "id": "8e4e5992-a353-4055-a910-7eea3e3d5efe",
              "name": "intencao",
              "value": "localizacao",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -80
      ],
      "id": "2bdecea5-77e9-4ad8-9c76-36156e00180a",
      "name": "Resposta Localizacao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92965d4a-a42f-4eb5-9ed3-c04a8c8b41ae",
              "name": "mensagemResposta",
              "value": "Já vou te transferir para um atendente humano, aguarde um momento 😊",
              "type": "string"
            },
            {
              "id": "6b108d35-cd9c-41fd-a332-91d14a1e2149",
              "name": "intencao",
              "value": "atendente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        48
      ],
      "id": "f3d9b74d-c6c8-4f70-8a68-7617b2e8ddec",
      "name": "Transferir Atendente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19d2a643-207f-40d6-af06-27c085885190",
              "name": "mensagemResposta",
              "value": "={{ $('Identificar Farmácia').item.json.mensagemSaudacao }}",
              "type": "string"
            },
            {
              "id": "10771acb-4eeb-4c03-84e3-4e5c0f4e4129",
              "name": "intencao",
              "value": "saudacao",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        176
      ],
      "id": "abf32e06-ea3f-4226-832d-ed82efc0d1eb",
      "name": "Mensagem Saudacao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e69cf131-22e3-4271-8654-04a16dc566d9",
              "name": "mensagemResposta",
              "value": "Desculpe, não entendi. Posso ajudar com: horário, endereço ou falar com um atendente.",
              "type": "string"
            },
            {
              "id": "4ad54200-b577-4a3a-bd78-4fc2c76c627b",
              "name": "intencao",
              "value": "fallback",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        304
      ],
      "id": "38615e03-6f5e-4e8f-9d49-1fd9269eb698",
      "name": "Fallback Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}\",\n    \"text\": \"{{ $json.mensagemResposta }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        176
      ],
      "id": "3b8b9dd1-d816-4cfc-bb47-fa94e8172df8",
      "name": "Enviar Resposta WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1cLNRlyuP8Zu6TDZ",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5079/api/n8n/crm/interacoes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"farmaciaId\": \"{{ $('Identificar Farmácia').item.json.id }}\",\n  \"contatoId\": \"{{ $('Upsert Contato').item.json.id }}\",\n  \"mensagemRecebida\": \"{{ $('Webhook').item.json.body.data.message.conversation }}\",\n  \"mensagemEnviada\": \"{{ $json.mensagemResposta }}\",\n  \"intencaoDetectada\": \"{{ $json.intencao }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        -80
      ],
      "id": "e44c75d0-fe61-4755-8ad3-3ea1e9139975",
      "name": "Log Interação",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XHs0wwLG07k2lvbT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "905e3afd-6fb9-4308-be27-87af505c95f0",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "f3c30534-6c83-411c-8348-de80c7afb4be",
      "name": "Filtrar Mensagens Recebidas"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens Recebidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Farmácia": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato": {
      "main": [
        [
          {
            "node": "Switch Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intenção": {
      "main": [
        [
          {
            "node": "Resposta Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Localizacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transferir Atendente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Saudacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Horario": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Localizacao": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transferir Atendente": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Saudacao": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Error": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WhatsApp": {
      "main": [
        []
      ]
    },
    "Filtrar Mensagens Recebidas": {
      "main": [
        [
          {
            "node": "Identificar Farmácia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "278f1370-ce9a-4daa-ba54-79bdae62237a",
  "meta": {
    "instanceId": "0a2780aa64ab71baea2553fcd5762839999421886901a500aca11f39e29bb78d"
  },
  "nodeGroups": [],
  "id": "XqAw8PJFxTnr0qEu",
  "tags": []
}